body {
    font-family: sans-serif;
    padding: 20px;
    background-color: burlywood;
    position: relative;
    align-items: center;
}
h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
}
.established{
    font-style: italic;
}
h1,h2{
    font-family: Impact, serif;
}
footer {
    font-size: 14px;
}